#padding{
  padding: 0px 65px 0px 65px;
  background-color: #f49c4c;
}
#container {
  background-color: #cce4f4;
  padding: 0px 25px 0px 25px
}
nav {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: #047f8c;
  text-decoration: none;
  padding: 10px 15px 1px 15px;
  text-align: center;
  justify-content: center
  space-between: 25px;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 37;
  color: #3a400c;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 10px 15px;
}
.wrap h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}
.wrap {
  font-family: "Lato", sans-serif;

}
.wrap h2 {
  font-weight: 700;
  font-size: 22.5;
  text-align: left
}
p {
  font-weight: 400;
  font-size: 15px;
  text-align:justify;
}
img { 
  width: 580px;
  height: auto;
}
#photoAlign {
  !important
  width: 200px;
  height: auto;
  display: inline;
}
